.button
	@extend %button-hover
	display: inline-block
	padding: 1.2em 3.1em
	box-sizing: border-box
	background-color: $c-button-bg
	border: none
	outline: none
	border-radius: 50px
	font-weight: 500
	font-size: 10px
	color: $c-white
	text-transform: uppercase
	text-align: center
	letter-spacing: 0.12em
	line-height: 1
	+unselectable
	&--accent
		padding: 2em 3.9em
		min-width: 220px
		background-color: $c-accent-main
	&--border
		min-width: 0
		border: 1px solid $c-lines
		background: none
		color: $c-accent-2
	&[disabled]
		background-color: #EFF1F4
		color: #686868
		pointer-events: none
	+screen-phone
		.form &,
		.calc &
			display: block
			width: 100%
	+screen-tablet
		&--accent
			min-width: 308px
			font-size: 12px
			letter-spacing: 0.1em
		&--border
			min-width: 174px

.close-button
	display: block
	width: 20px
	height: 20px
	position: relative
	cursor: pointer
	+unselectable
	i
		position: absolute
		left: 0
		top: 50%
		width: 100%
		height: 2px
		margin-top: -1px
		background-color: currentColor
		transform-origin: center center
		&:first-child
			transform: rotate(-45deg)
		&:last-child
			transform: rotate(45deg)
	&:before
		content: ""
		+centered(150%)

.play-button
	$play-button-size: 40px
	@extend %button-hover
	display: inline-block
	width: $play-button-size
	height: $play-button-size
	position: relative
	box-sizing: border-box
	outline: none
	border: none
	border-radius: 100%
	background-color: $c-accent-main
	+unselectable
	&:before
		$icon-size: percentage(12 / 40)
		content: ""
		position: absolute
		left: 50%
		top: 50%
		width: $icon-size
		height: $icon-size
		margin-left: (-$icon-size / 2) * 0.9
		margin-top: -$icon-size / 2
		background: transparent inline("../img/inline/play-icon.svg") center center no-repeat
		background-size: contain
	+screen-tablet
		$play-button-size: 70px
		width: $play-button-size
		height: $play-button-size
	+screen-desktop
		$play-button-size: 56px
		width: $play-button-size
		height: $play-button-size