// TODO: Подумать над реакцией на нажатие.
.button
	@extend %button-hover
	display: inline-block
	padding: 1.1em 3.1em
	box-sizing: border-box
	background-color: $c-button-bg
	border: none
	outline: none
	border-radius: 50px
	font-weight: 500
	font-size: 10px
	color: $c-white
	text-transform: uppercase
	text-align: center
	letter-spacing: 0.12em
	&--accent
		padding: 1.9em 3.9em
		min-width: 220px
		background-color: $c-accent-main
	// TODO: Уточнить у дизюг, что за хня? На планшете, в блоке с калькулятором, кнопка большая,
	// а в блоке с формой обратной связи, кнопка стандартного размера. Баг или фича?
	+screen-tablet
		&--accent
			.calc &
				min-width: 308px
				font-size: 12px
				letter-spacing: 0.1em

.close-button
	display: block
	width: 20px
	height: 20px
	position: relative
	cursor: pointer
	i
		position: absolute
		left: 0
		top: 50%
		width: 100%
		height: 2px
		margin-top: -1px
		background-color: currentColor
		transform-origin: center center
		&:first-child
			transform: rotate(-45deg)
		&:last-child
			transform: rotate(45deg)
	&:before
		content: ""
		+centered(150%)

.play-button
	$play-button-size: 40px
	@extend %button-hover
	display: inline-block
	width: $play-button-size
	height: $play-button-size
	position: relative
	box-sizing: border-box
	outline: none
	border: none
	border-radius: 100%
	background-color: $c-accent-main
	&:before
		$icon-size: percentage(12 / 40)
		content: ""
		position: absolute
		left: 50%
		top: 50%
		width: $icon-size
		height: $icon-size
		margin-left: (-$icon-size / 2) * 0.9
		margin-top: -$icon-size / 2
		// outline: 1px solid red;
		background: transparent inline("../img/inline/play-icon.svg") center center no-repeat
		background-size: contain
	+screen-tablet
		$play-button-size: 70px
		width: $play-button-size
		height: $play-button-size
	+screen-desktop
		$play-button-size: 56px
		width: $play-button-size
		height: $play-button-size