// NOTE: Стили взяты с оригинального Flatpickr
// и с сайта broker.ru, и чуть отрефакторены.
.flatpickr
	&-calendar
		overflow: hidden
		max-height: 0
		opacity: 0
		visibility: hidden
		text-align: center
		padding: 0
		direction: ltr
		border: 0
		font-size: 14px
		line-height: 24px
		border-radius: 5px
		position: absolute
		width: 260px
		box-sizing: border-box
		transition: top cubic-bezier(0,1,.5,1) .1s
		z-index: 999
		background: $c-white
		box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,.08)
		&.inline,
		&.open
			opacity: 1
			visibility: visible
			overflow: visible
			max-height: 640px
			padding: 5px 0
		&.inline
			display: block
			position: relative
			top: 0
			height: 100%
			width: auto
			padding: 0
			border-radius: 0
			box-shadow: none
	&-next-month,
	&-prev-month
		text-decoration: none
		cursor: pointer
		position: absolute
		z-index: 1
		top: 7px
		height: 16px
		line-height: 16px
		svg
			width: 9px
			fill: $c-white
			stroke-width: 1px
			stroke: $c-white
	&-prev-month
		left: calc(3.57% + 4.5px)
	&-next-month
		right: calc(3.57% + 4.5px)
	&-month
		fill: rgba(0,0,0,.9)
		height: 30px
		text-align: center
		position: relative
		user-select: none
		background: #b7bfc9
		color: $c-white
		line-height: 30px
	&-innerContainer
		display: flex
		box-sizing: border-box
		overflow: hidden
	&-rContainer
		display: inline-block
		padding: 0
		box-sizing: border-box
	&-days
		padding: 0
		outline: 0
		text-align: left
		width: 210px
		box-sizing: border-box
		display: flex
		flex-wrap: wrap
		justify-content: space-around
	&-day
		background: 0 0
		box-sizing: border-box
		color: #393939
		cursor: pointer
		font-weight: 400
		font-size: 12px
		width: 14.2857143%
		flex-basis: 14.2857143%
		max-width: 30px
		height: 30px
		line-height: 30px
		margin: 0
		display: inline-block
		position: relative
		justify-content: center
		text-align: center
		&.disabled,
		&.disabled:hover
			pointer-events: none
		&.disabled,
		&.disabled:hover,
		&.nextMonthDay,
		&.notAllowed,
		&.notAllowed.nextMonthDay,
		&.notAllowed.prevMonthDay,
		&.prevMonthDay
			color: rgba(57,57,57,.3)
			background: 0 0
			border-color: transparent
		&.endRange,
		&.endRange.nextMonthDay,
		&.endRange.prevMonthDay,
		&.endRange:focus,
		&.endRange:hover,
		&.selected,
		&.selected.nextMonthDay,
		&.selected.prevMonthDay,
		&.selected:focus,
		&.selected:hover,
		&.startRange,
		&.startRange.nextMonthDay,
		&.startRange.prevMonthDay,
		&.startRange:focus,
		&.startRange:hover
			background: #dde3ef
			color: $c-accent-main
			border-color: #dde3ef
		&:not(.disabled)
			color: #7b7b7b
		&.selected:not(.disabled)
			color: $c-white
			background: $c-accent-main
		&.selected:not(.disabled):hover
			background: #005bbe
		&:not(.selected):hover
			color: $c-accent-main
			background: rgba(0,0,0,0)
	&-current-month
		font-size: 13px
		line-height: inherit
		font-weight: 500
		color: inherit
		position: absolute
		width: 75%
		left: 12.5%
		top: 0
		display: inline-block
		text-align: center
		span.cur-month
			font-family: inherit
			font-weight: inherit
			color: inherit
			display: inline-block
			margin-left: 15px
			padding: 0
		input.cur-year
			background: 0 0
			box-sizing: border-box
			color: inherit
			cursor: default
			padding: 0 0 0 .5ch
			margin: 0
			display: inline
			font-size: inherit
			font-family: inherit
			font-weight: inherit
			line-height: inherit
			height: 30px
			width: 45px
			border: 0
			border-radius: 0
			vertical-align: initial
	&-weekdays
		display: none

.numInputWrapper
	position: relative
	height: auto
	width: 60px
	display: inline-block
	width: 45px

.datetime
	&__dropdown
		display: none
		opacity: 0
		visibility: hidden
		overflow: hidden
		position: absolute
		top: calc(100% - 10px)
		left: 50%
		margin-left: -110px
		z-index: 2
		box-sizing: border-box
		margin-bottom: 20px
		line-height: 1
		background: $c-white
		box-shadow: 0 0 10px rgba(0,0,0,.25)
		&._opened
			display: block
			opacity: 1
			visibility: visible
			overflow: visible
		&:before,
		&:after
			content: ""
			position: absolute
			bottom: 100%
			left: 62px
			display: block
			width: 0
			height: 0
			border: solid transparent
		&:after
			border-width: 0 6px 7px
			border-bottom-color: $c-white
		&:before
			margin-left: -1px
			border-width: 0 7px 8px
			border-bottom-color: #e6e6e6
	&__dropdown-col
		display: block
		width: 100%
		padding: 5px
		box-sizing: border-box
	&__schedule
		display: none
		flex-wrap: wrap
		width: 308px
		border: solid rgba(183,191,201,.4)
		border-width: 1px 0 0 1px
	&__schedule-cell
		flex: 0 0 auto
		width: 101px
		white-space: nowrap
		font-size: 12px
		line-height: 29px
		text-align: center
		cursor: pointer
		border: solid rgba(183,191,201,.4)
		border-width: 0 1px 1px 0
		&:hover
			color: $c-accent-main
		&._selected
			color: $c-white
			background-color: $c-accent-main
			background-clip: padding-box
		&._selected:hover
			background-color: #005bbe
	&__mobile-schedule
		select
			width: 100%
			height: 40px
			padding: 10px 5px
			border: 1px solid $c-gray-light
			background: $c-white
			font-family: inherit
			font-size: inherit
			line-height: inherit
			color: inherit
			font: inherit
			margin: 0
			font-size: 14px
	+screen-desktop
		&__dropdown
			margin-left: -270px
		&__dropdown-col
			display: table-cell
			vertical-align: top
		&__schedule
			display: flex
		&__mobile-schedule
			display: none