.form
	$parent-selector: &
	$input-border-radius: $border-radius-default
	padding: 6px 0
	&__heading-part
		margin-bottom: 34px
	&__subtitle
		margin: 0 auto
		line-height: $default-line-height
		&._v2
			margin: 39px auto 29px
			font-size: 14px
	&__input
		display: block
		width: 100%
		padding: 20px
		background: $c-white
		border: 1px solid $c-gray-light
		box-sizing: border-box
		border-radius: $input-border-radius
		font-size: 14px
	&__input-section
		margin-bottom: 22px
		&:last-child
			margin-bottom: 0
		&._checkbox
			margin-top: 30px
		&._submit
			margin-top: 32px
			text-align: center
	+screen-tablet
		max-width: 500px
		margin: auto
		&__title
			text-align: center
		&__subtitle
			max-width: 315px
			text-align: center
			&._v2
				margin-bottom: 18px
		&__multiple-inputs
			display: flex
			#{$parent-selector}
				&__input
					border-radius: 0
				&__input-section
					margin: 0
					flex: 1 1 auto
					&:first-child
						#{$parent-selector}
							&__input
								border-radius: $input-border-radius 0 0 $input-border-radius
					&:last-child
						#{$parent-selector}
							&__input
								border-radius: 0 $input-border-radius $input-border-radius 0
					&:not(:first-child)
						#{$parent-selector}
							&__input
								border-left: none
	// +screen-desktop
	// 	display: flex
	// 	justify-content: space-between
	// 	align-items: center
	// 	max-width: none
	// 	padding: 0
	// 	&__heading-part
	// 		flex: 1
	// 		max-width: 380px
	// 		margin-bottom: 25px
	// 	&__title,
	// 	&__subtitle
	// 		text-align: left
	// 		max-width: none
	// 	&__subtitle
	// 		&._v2
	// 			text-align: center
	// 	&__sections-part
	// 		width: 512px
	// 		background-color: #C3C9D2
	// 		box-sizing: border-box
	// 		padding: 81px 41px 69px
	// +screen-desktop-lg
	// 	&__sections-part
	// 		width: 600px
	// 		padding-left: 75px
	// 		padding-right: 75px

.checkbox
	$parent-selector: &
	cursor: pointer
	font-size: 14px
	line-height: 1.25
	&__flex
		display: flex
		justify-content: flex-start
		align-items: flex-start
	&__col
		&._input
			width: $checkbox-size
			margin-right: 17px
		&._text
			flex: 1
	&__link
		@extend %link-hover
		color: $c-accent-main
	&__input
		position: relative
		width: $checkbox-size
		height: $checkbox-size
		background-color: $c-white
		border: 1px solid $c-lines
		&:after
			$size: 6px
			content: ""
			position: absolute
			left: 50%
			top: 50%
			width: $size
			height: $size
			margin-left: -$size / 2
			margin-top: -$size / 2
			pointer-events: none
			background-color: $c-accent-2
			transition: transform 0.2s, opacity 0.2s
			transform: scale(2)
			opacity: 0
	input
		display: none
		&:checked
			~ #{$parent-selector}
				&__input
					&:after
						transform: scale(1)
						opacity: 1
	+screen-tablet
		&__col
			&._text
				max-width: 330px