.gradient-block
	background: linear-gradient(277.09deg, #AAB3C0 -0.36%, rgba(255, 255, 255, 0) 99.55%)
	padding: 45px 0 217px
	&__bg
		+aspect-ratio(790, 595)
		position: absolute
		right: -34px
		bottom: -228px
		width: 294px
		background: transparent url("../img/exchange-bg-image.png") center center no-repeat
		background-size: contain
	&._v2
		padding-bottom: 82px
		background: linear-gradient(89.06deg, rgba(170, 179, 192, 0.3) 0.43%, rgba(255, 255, 255, 0) 107.87%), linear-gradient(91.68deg, #FFFFFF 26.84%, rgba(255, 255, 255, 0) 111.49%), url("../img/exchange-bg-image-2.jpeg") center center no-repeat, #AAB3C0
		background-size: cover
	+screen-tablet
		padding: 64px 0 100px
		&__bg
			right: -74px
			bottom: -62px
			width: 527px
		&._v2
			padding-top: 45px
			padding-bottom: 54px
	+screen-desktop
		padding: 110px 0 100px
		&__bg
			right: -94px
			bottom: -52px
			width: 620px
		&._v2
			padding: 0
			.form
				display: flex
				justify-content: space-between
				align-items: center
				max-width: none
				padding: 0
				&__heading-part
					flex: 1
					max-width: 380px
					margin-bottom: 25px
				&__title,
				&__subtitle
					text-align: left
					max-width: none
				&__subtitle
					&._v2
						text-align: center
				&__sections-part
					width: 512px
					background-color: #C3C9D2
					box-sizing: border-box
					padding: 81px 41px 69px
	+screen-desktop-lg
		&__bg
			right: -128px
			bottom: -103px
			width: 783px
		&._v2
			.form
				&__sections-part
					width: 600px
					padding-left: 75px
					padding-right: 75px