.header
	$parent-selector: &
	$trs-time: 0.4s
	// $button-close-top: 3vh
	$menu-container-paddings: 87px 0 0
	transition: transform .6s cubic-bezier(.19,1,.22,1)
	pointer-events: none
	margin-bottom: 100px
	width: 100%
	box-sizing: border-box
	transition: background $default-transition-duration, box-shadow $default-transition-duration
	&__logo
		display: block
		width: 28px
		height: 28px
		transition: transform ($trs-time - 0.1s)
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
		outline: none
		color: $c-white
		will-change: transform
		pointer-events: auto
		svg
			display: block
			width: 148px
			height: 100%
			overflow: visible
		.chunk-2
			display: none
	&__row
		position: relative
		z-index: 6
		padding: 14px 0
		// box-shadow: $header-box-shadow
		transition: box-shadow $default-transition-duration
	&__flex
		display: flex
		justify-content: space-between
		align-items: center
		&._v2
			pointer-events: auto
			.button
				display: none
				margin-right: 40px
	.burger
		// position: absolute
		// z-index: 6
		// right: $site-paddings
		// top: $pt--mobile + 7px
		pointer-events: auto
	&__menu-block
		@extend %full-sized
		min-height: 100vh
		z-index: 5
		// pointer-events: none
		overflow: hidden
		transform: translate(100%, 0)
		will-change: transform
		pointer-events: auto
		// .button-close
		// 	top: $button-close-top
	// &__menu-back
	// 	@extend %overlay-default
	// 	opacity: 1
	// 	transition: opacity ($trs-time + 0.2s)
	&__menu-front
		@extend %full-sized
		background-color: $c-white
		transition: transform $trs-time, opacity $trs-time
		//pointer-events: auto
		&:before
			content: ""
			position: absolute
			z-index: 1
			left: 0
			top: 0
			width: 100%
			// width: calc(100% - 50px)
			height: 17vh
			background: linear-gradient(to bottom, rgba($c-white, 1) 0, rgba($c-white, 1) 45%, rgba($c-white, 0) 100%)
			pointer-events: none
			// NOTE: На айфончиках неправильно распологаются слои, так что приходится костыльничать.
			._ios &
				display: none
	&__menu-container
		padding: $menu-container-paddings
		height: 100%
		box-sizing: border-box
		overflow: auto
		-webkit-overflow-scrolling: touch
		.container
			height: 100%
	&__menu-overflow
		min-height: 100%
		box-sizing: border-box
		display: flex
		flex-direction: column
		justify-content: space-between
	&__contacts
		margin: 250px 0 $site-paddings
	&__contacts-row
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
		.description
			letter-spacing: 0.13em
			font-size: 9px
			color: $c-gray-dark
			text-transform: uppercase
		.phone
			@extend %link-hover
			display: inline-block
			margin-bottom: 7px
			color: $c-accent-2
			font-size: 24px
	&._fixed
		position: fixed
		left: 0
		top: 0
		width: 100%
		z-index: 5
	&._state2
		background-color: $c-white
		#{$parent-selector}
			&__row
				box-shadow: $header-box-shadow
	&._away
		transform: translate(0, -110%)
		pointer-events: none
	&._no-margin
		margin-bottom: 0
	+screen-tablet-only
		&__row
			padding: 10px 0
		&__flex
			&._v2
				.button
					display: inline-block
	+screen-below-desktop
		> .container
			padding: 0
			margin: 0
			max-width: none
		// NOTE: На айфончиках куча багов с расположением слоёв, дёрганием при скролле,
		// и многое другое. Вот, ставим костыли... =\
		._ios &
			&__menu-block,
			&__menu-front
				overflow: hidden
			&__menu-container
				overflow: hidden
				padding: 0
			&__menu-overflow
				padding: $menu-container-paddings
				height: 100%
				box-sizing: border-box
				overflow: auto
				-webkit-overflow-scrolling: touch
		._menu-opened &
			#{$parent-selector}
				&__row
					box-shadow: none

	// +screen-tablet
	// 	&__logo
	// 		width: 97px
	// 		height: 36px

	+screen-desktop
		// background: none
		padding: 10px 0
		// background: $c-white
		// box-shadow: $header-box-shadow
		> .container
			display: flex
			justify-content: space-between
			align-items: flex-start
		&__row
			padding: 0
			box-shadow: none
			.container
				padding: 0
				margin: 0
				max-width: none
		&__logo
			width: 158px
			height: 30px
			svg
				width: 100%
			.chunk-2
				display: block
		.burger
			display: none
		&__menu-block
			position: static
			pointer-events: unset
			min-height: unset
			overflow: unset
			transform: translate(0, 0)
			._ie &
				min-height: 0
				overflow: visible
			&._away
				#{$parent-selector}
					&__menu-front
						transform: unset
						opacity: unset
						pointer-events: unset
		&__menu-back
			display: none
		&__menu-front
			position: static
			background: none
			&:before
				display: none
			.button-close
				display: none
		&__menu-container
			padding: 0
			display: flex
			justify-content: flex-end
			overflow: unset
			._ie &
				overflow: visible
			.container
				display: block
				padding: 0
				margin: 0
				max-width: none
		&__menu-overflow
			flex-direction: row
			align-items: center
			pointer-events: auto
		&__contacts
			// display: none // TEMP
			margin: 0 0 0 63px
		&__contacts-row
			margin: 0
			&._phone
				display: none
		&__row
			max-height: 70px
			transition: max-height 0.4s
		// &._fixed
		// 	background: none
		&._state2
			background: $c-white
			box-shadow: $header-box-shadow