.steps
	padding: 34px 0 41px
	&__item
		padding-bottom: 38px
		margin-bottom: 34px
		border-bottom: 1px solid $c-lines
		font-size: 16px
		line-height: 1.5
		&:last-child
			padding-bottom: 0
			margin-bottom: 0
			border-bottom: none
	&__block
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
		&._num
			color: $c-accent-2
			font-weight: 500
			font-size: 22px
		&._title
			margin-bottom: 23px
			color: $c-accent-2
			font-weight: 500
			font-size: 20px
	+screen-tablet
		&__item
			padding-bottom: 57px
			margin-bottom: 54px
	+screen-tablet-only
		padding: 53px 0 58px
		&__item
			position: relative
			padding-left: 83px
		&__block
			&._num
				position: absolute
				left: 0
				top: -3px
				font-size: 30px
			&._title
				max-width: 266px
				margin-bottom: 27px
			&._text
				max-width: 318px
	+screen-desktop
		padding: 94px 0 99px
		&__item
			display: flex
			justify-content: flex-start
		&__block
			&._num
				width: 86px
				font-size: 30px
				line-height: 1.2
			&._title
				width: 255px
				margin-right: 63px
			&._text
				flex: 1
				max-width: 295px
	+screen-desktop-lg
		&__block
			&._title
				margin-right: 83px
			&._text
				max-width: 420px