$default-font-size: 16px
$default-line-height: 1.35

$default-transition-duration: 0.4s
$default-transition-function: ease-out

$breakpoint-lg: 1400px
$breakpoint-md: 1000px
$breakpoint-sm: 767px

$indent-col-lg: 15px
$indent-col-md: 15px
$indent-col-sm: 10px
$indent-col-xs: 10px

$cols-total: 12

$site-paddings: 30px
$site-paddings-large: 40px
$checkbox-size: 20px
$border-radius-default: 4px
$header-height: 54px

$c-white: #ffffff
$c-bg-main: $c-white // TODO
$c-black: #000000
$c-lines: #3a3a3a // TODO
$c-dark-main: #888 // TODO
$c-gray-light: #E1E1E1
$c-gray-medium: #B3B3B3
$c-gray-dark: #686868
$c-gray-shadow: rgba(0, 0, 0, 0.05)
$c-accent-main: #0073F1
$c-accent-2: #2B2B51
$c-accent-3: #34345B
$c-form-bg: #EFF1F4
$c-lines: $c-gray-light
$c-button-bg: #808095
$c-text-default: $c-gray-dark
$c-placeholder: $c-text-default
$c-error-text: #EA1919
$c-error-border: #EE7979
$c-success-border: #4FD669

$header-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05)