%h1
	margin: 0 0 1em
	font-size: 30px
	font-weight: 300
	line-height: 1.5
	color: $c-accent-2
	+screen-tablet
		font-size: 44px
		margin-bottom: 1.3em
	+screen-desktop
		font-size: 48px
		margin-bottom: 0.95em

h1
	@extend %h1

.like-h1
	@extend %h1
	&__accent
		margin-top: 0.5em
		color: $c-accent-main
		font-weight: 500
		font-size: 0.668em
	&._v2
		font-size: 36px
		line-height: 1.25
	+screen-tablet
		&__accent
			font-size: 0.785em
		&._v2
			font-size: 56px
			line-height: 1
	+screen-desktop
		&__accent
			font-size: 0.815em
		&._v2
			min-width: 595px
			font-size: 64px

h2, .like-h2
	margin: 0 0 1em
	color: $c-accent-2
	font-size: 22px
	font-weight: 500
	line-height: 1.5
	letter-spacing: 0.02em
	text-transform: uppercase
	+screen-tablet
		margin-bottom: 0.5em
		font-size: 30px

h3, .like-h3
	margin: 0 0 2.1em
	color: $c-accent-2
	font-size: 20px
	font-weight: normal
	line-height: 1.5
	+screen-tablet
		font-size: 30px
	// TODO: Уточнить у дизайнеров, это вообще нормально, что на десктопе шрифт меньше, чем на планшете?)))
	+screen-desktop
		font-size: 24px
		margin-bottom: 1.4em

p, .like-p
	margin: 0 0 1.5em
	line-height: 1.6
	&:last-child
		margin-bottom: 0
	+screen-desktop
		margin-bottom: 2.2em

.pre-title
	margin-bottom: 28px
	font-size: 14px
	letter-spacing: 0.1em
	text-transform: uppercase
	color: $c-gray-dark